@font-face {
	font-family: 'BEBAS';
	src: url('../fonts/BEBAS.eot');
	src: local('BEBAS'), url('../fonts/BEBAS.woff') format('woff'), url('../fonts/BEBAS.ttf') format('truetype');
}
@font-face {
  font-family: 'ST MARIE';
  src: url('../fonts/StMarie-Thin.otf');
}
